spring:
  application:
    name: pet-service
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/petcore
    username: petcore_user
    password: petcore_pass
  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
  prometheus:
    metrics:
      export:
        enabled: true
